extends layout
block content
    div.col-sm-8.col-sm-offset-3
        h1 Opiniotwórczy portal kosmetyczny
        div.col-6.col-sm-offset-2
            p.h3
                a(href='/login') Zaloguj się
            p.h3
                a(href='/register') Zarejestruj się
    div.col.sm-8.col-sm-offset-2
        img(src="logo.png")