extend layout.pug

block content
    div.container.col-sm-6.col-sm-offset-4
        h2 Dodaj komentarz

        form.login-form.form-horizontal(method='post', role='form')
            div.form-group
                label Komentarz
                textarea.form-control(id="body" name="body" rows="3" required=true)
            div.form-group
                input(type="submit" value="Post comment" class="btn btn-primary")

