extends layout
block content
    div.container
            h1.col-sm-6.col-sm-offset-3 Panel administratora
                p
                    a.small(href='/product') Dodaj produkt
                p
                    a.small(href='/login') Usuń użytkownika
                p
                    a.small(href='/login') Nadaj prawa administratora
            div.col-sm-3.col-sm-offset-8
                a(href="/user") Powrót do strony główne
