extend layout.pug
block content
    div.container
        div.col-sm-8.col-sm-offset-4
            h2 Użytkownicy
        form.form-horizontal(method='post', role='form')
            div.col-sm-8.col-sm-offset-4
                div.form-group
                    div.row.align-item-start
                        each val in form
                            div.checkbox.h4
                                label=val.username
                                input(type="checkbox" name="user" value=val.username)
                            br

            block button


